
#root .ql {
    &-size-8 {
        font-size: 8px;
    }

    &-picker-item[data-value="8"]::before {
        content: '8';
    }

    &-picker-label[data-value="8"]::before {
        content: "8";
    }

    &-size-10 {
        font-size: 10px;
    }

    &-picker-item[data-value="10"]::before {
        content: '10';
    }

    &-picker-label[data-value="10"]::before {
        content: "10";  
    }

    &-size-12 {
        font-size: 12px;
    }

    &-picker-item[data-value="12"]::before {
        content: '12';
    }

    &-picker-label[data-value="12"]::before {
        content: "12";  
    }

    &-size-14 {
        font-size: 14px;
    }

    &-picker-item[data-value="14"]::before {
        content: '14';
    }

    &-picker-label[data-value="14"]::before {
        content: "14";  
    }

    &-size-18 {
        font-size: 18px;
    }

    &-picker-item[data-value="18"]::before {
        content: '18';
    }

    &-picker-label[data-value="18"]::before {
        content: "18";  
    }

    &-size-24 {
        font-size: 24px;
    }

    &-picker-item[data-value="24"]::before {
        content: '24';
    }

    &-picker-label[data-value="24"]::before {
        content: "24";  
    }

    &-size-30 {
        font-size: 30px;
    }

    &-picker-item[data-value="30"]::before {
        content: '30';
    }

    &-picker-label[data-value="30"]::before {
        content: "30";  
    }

    &-size-36 {
        font-size: 36px;
    }

    &-picker-item[data-value="36"]::before {
        content: '36';
    }

    &-picker-label[data-value="36"]::before {
        content: "36";  
    }
}